<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HLP.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<applicationSettings>
		<HLP.WebService.Properties.Settings>
   <setting name="HLP_WebService_2_0_Homologacao_NFeRecepcao_RS_NfeRecepcao2"
    serializeAs="String">
    <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/Nferecepcao/NFeRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_2_0_Homologacao_NFe_RetRecepacao_NfeRetRecepcao2"
    serializeAs="String">
    <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeRetRecepcao/NfeRetRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_2_0_Homologacao_NFeCancelamento_NfeCancelamento2"
    serializeAs="String">
    <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeCancelamento/NfeCancelamento2.asmx</value>
   </setting>
   <setting name="HLP_WebService_2_0_Homologacao_NFeInutilizacao_NfeInutilizacao2"
    serializeAs="String">
    <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_2_0_Homologacao_NFeConsulta_NfeConsulta2"
    serializeAs="String">
    <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
   </setting>
   <setting name="HLP_WebService_2_0_Homologacao_NFeStatusServico_NfeStatusServico2"
    serializeAs="String">
    <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRecepcao_RS_NfeRecepcao2"
    serializeAs="String">
    <value>https://nfe.sefaz.rs.gov.br/ws/Nferecepcao/NFeRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRetRecepcao_RS_NfeRetRecepcao2"
    serializeAs="String">
    <value>https://nfe.sefaz.rs.gov.br/ws/NfeRetRecepcao/NfeRetRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeCancelamento_RS_NfeCancelamento2"
    serializeAs="String">
    <value>https://nfe.sefaz.rs.gov.br/ws/NfeCancelamento/NfeCancelamento2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeInutilizacao_RS_NfeInutilizacao2"
    serializeAs="String">
    <value>https://nfe.sefaz.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeConsulta_RS_NfeConsulta2"
    serializeAs="String">
    <value>https://nfe.sefaz.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeStatusServico_RS_NfeStatusServico2"
    serializeAs="String">
    <value>https://nfe.sefaz.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeConsultaCadastro_RS_CadConsultaCadastro2"
    serializeAs="String">
    <value>https://sef.sefaz.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRecepcao_SP_NfeRecepcao2"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nferecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRetRecepcao_SP_NfeRetRecepcao2"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nferetrecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeCancelamento_SP_NfeCancelamento2"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfecancelamento2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeInutilizacao_SP_NfeInutilizacao2"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfeinutilizacao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeConsulta_SP_NfeConsulta2"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfeconsulta2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeStatusServico_SP_NfeStatusServico2"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfestatusservico2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeConsulta_SP1_CadConsultaCadastro2"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/cadconsultacadastro2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_RetRecepcao_MS_NfeRetRecepcao2"
    serializeAs="String">
    <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeRetRecepcao2</value>
   </setting>
   <setting name="HLP_WebService_v2Homologacao_NFeRecepcao_MS_NfeRecepcao2"
    serializeAs="String">
    <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeRecepcao2</value>
   </setting>
   <setting name="HLP_WebService_v2Homologacao_NFeCancelamento_NfeCancelamento2"
    serializeAs="String">
    <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeCancelamento2</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeInutilizacao_MS_NfeInutilizacao2"
    serializeAs="String">
    <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeInutilizacao2</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeConsulta_MS_NfeConsulta2"
    serializeAs="String">
    <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeConsulta2</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeStatusServico_MS_NfeStatusServico2"
    serializeAs="String">
    <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeStatusServico2</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeCadConsultaCadastro_MS_CadConsultaCadastro2"
    serializeAs="String">
    <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/CadConsultaCadastro2</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_NFeRecepcao_NfeRecepcao2"
    serializeAs="String">
    <value>https://www.scan.fazenda.gov.br/NfeRecepcao2/NfeRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Producao_NFeRetRecepcao_NfeRetRecepcao2"
    serializeAs="String">
    <value>https://www.scan.fazenda.gov.br/NfeRetRecepcao2/NfeRetRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Producao_NFeCancelamento_NfeCancelamento2"
    serializeAs="String">
    <value>https://www.scan.fazenda.gov.br/NfeCancelamento2/NfeCancelamento2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Producao_NFeInutilizacao_NfeInutilizacao2"
    serializeAs="String">
    <value>https://www.scan.fazenda.gov.br/NfeInutilizacao2/NfeInutilizacao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Producao_NFeConsulta_NfeConsulta2"
    serializeAs="String">
    <value>https://www.scan.fazenda.gov.br/NfeConsulta2/NfeConsulta2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Producao_NFeStatusServico_NfeStatusServico2"
    serializeAs="String">
    <value>https://www.scan.fazenda.gov.br/NFeStatusServico2/NFeStatusServico2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Homologacao_NFeRecepcao_NfeRecepcao2"
    serializeAs="String">
    <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeRecepcao2/NfeRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Homologacao_NFeRetRecepcao_NfeRetRecepcao2"
    serializeAs="String">
    <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeRetRecepcao2/NfeRetRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Producao_NFeCancelamento1_NfeCancelamento2"
    serializeAs="String">
    <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeCancelamento2/NfeCancelamento2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Homologacao_NFeInutilizacao_NfeInutilizacao2"
    serializeAs="String">
    <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeInutilizacao2/NfeInutilizacao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Homologacao_NFeConsulta_NfeConsulta2"
    serializeAs="String">
    <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeConsulta2/NfeConsulta2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_SCAN_Homologacao_NFeStatusServico_NfeStatusServico2"
    serializeAs="String">
    <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeStatusServico2/NfeStatusServico2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeRecepcao_SP_NfeRecepcao2"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NfeRetRecepcao_NfeRetRecepcao2"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRetRecepcao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeStatusServico_SP_NfeStatusServico2"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeStatusServico2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeCancelamento_SP_NfeCancelamento2"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeCancelamento2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeInutilizacao_SP_NfeInutilizacao2"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeInutilizacao2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeConsulta_SP_NfeConsulta2"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeConsulta2.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeCadConsultaCadastro_SP_CadConsultaCadastro"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/cadconsultacadastro.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRecepcao_MS_NfeRecepcao2"
    serializeAs="String">
    <value>https://nfe.fazenda.ms.gov.br/producao/services2/NfeRecepcao2</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRetRecepcao_MS_NfeRetRecepcao2"
    serializeAs="String">
    <value>https://nfe.fazenda.ms.gov.br/producao/services2/NfeRetRecepcao2</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeCancelamento_MS_NfeCancelamento2"
    serializeAs="String">
    <value>https://nfe.fazenda.ms.gov.br/producao/services2/NfeCancelamento2</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeInutilizacao_MS_NfeInutilizacao2"
    serializeAs="String">
    <value>https://nfe.fazenda.ms.gov.br/producao/services2/NfeInutilizacao2</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeConsuta_MS_NfeConsulta2"
    serializeAs="String">
    <value>https://nfe.fazenda.ms.gov.br/producao/services2/NfeConsulta2</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeStatusServico_MS_NfeStatusServico2"
    serializeAs="String">
    <value>https://nfe.fazenda.ms.gov.br/producao/services2/NfeStatusServico2</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeConsultaCadastro_MS_CadConsultaCadastro2"
    serializeAs="String">
    <value>https://nfe.fazenda.ms.gov.br/producao/services2/CadConsultaCadastro2</value>
   </setting>
   <setting name="HLP_WebService_Itu_servicos_Producao_ServiceGinfesImplService"
    serializeAs="String">
    <value>https://producao.ginfes.com.br//ServiceGinfesImpl</value>
   </setting>
   <setting name="HLP_WebService_Itu_servicos_Homologacao_ServiceGinfesImplService"
    serializeAs="String">
    <value>https://homologacao.ginfes.com.br//ServiceGinfesImpl</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_NFeRecepcaoEvento_RecepcaoEvento"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Homologacao_RecepcaoEvento_RS_RecepcaoEvento"
    serializeAs="String">
    <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRecepcaoEvento_RS_RecepcaoEvento"
    serializeAs="String">
    <value>https://nfe.sefaz.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRecepcaoEvento_MS_NfeRecepcaoEvento"
    serializeAs="String">
    <value>https://nfe.fazenda.ms.gov.br/producao/services2/RecepcaoEvento</value>
   </setting>
   <setting name="HLP_WebService_v2_Producao_NFeRecepacaoEvento_SP_RecepcaoEvento"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
   </setting>
   <setting name="HLP_WebService_Ws_versionamento_Cliente_Verisionamento"
    serializeAs="String">
    <value>http://187.75.170.94/Versionamento/Verisionamento.asmx</value>
   </setting>
   <setting name="HLP_WebService_Homologacao_cteRecepcao_CteRecepcao"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRecepcao.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Homologacao_cteRetRecepcao_CteRetRecepcao"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRetRecepcao.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Homologacao_cteCancelamento_CteCancelamento"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteCancelamento.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Homologacao_cteConsulta_CteConsulta"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteConsulta.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Homologacao_cteInutilizacao_CteInutilizacao"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteInutilizacao.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Homologacao_cteStatusServico_CteStatusServico"
    serializeAs="String">
    <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteStatusServico.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Producao_cteRecepcao_CteRecepcao"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteRecepcao.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Producao_cteRetRecepcao_CteRetRecepcao"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteRetRecepcao.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Producao_cteStatusServico_CteStatusServico"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteStatusServico.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Producao_cteCancelamento_CteCancelamento"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteCancelamento.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Producao_cteInutilizacao_CteInutilizacao"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteInutilizacao.asmx</value>
   </setting>
   <setting name="HLP_WebService_CTe_Producao_cteConsulta_CteConsulta"
    serializeAs="String">
    <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteConsulta.asmx</value>
   </setting>
  </HLP.WebService.Properties.Settings>
	</applicationSettings>
</configuration>
